*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-fundo-all{
    background-image: url(../img/background/background.png);
}

@font-face{
    font-family: FonteTitulo;
    src: url(../font/Inter-Black.ttf);
}

@font-face{
    font-family: Paragrafos;
    src: url(../font/Inter-Light.ttf);
}

@font-face{
    font-family: Especificacoes;
    src: url(../font/Inter-SemiBold.ttf);
}

a{
    text-decoration: none;
}

header{
    background-color: #1D6A96;
    height: 120px;
}

.menu input{
    width: 450px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    font-family: Paragrafos;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    padding: 8px 30px;
}

.container{
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu img{
    width: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu .icon{
    width: 24px;
    margin-left: 7px;
}

.menu{
    height: 100%;
}

.menu ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a{
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: FonteTitulo;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-menu{
    position: absolute;
    background-color: #1D6A96;
    box-shadow: 0px 5px 15px 0px #000;
    display: none;
}

.menu ul li .dropdown-menu a{
    border-bottom: 1px solid #ffffff;
    padding: 15px;
    display: block;
}

.dropdown-menu a:hover{
    background-color: #3092ca;
    transition: .2s;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.container-books img{
    width: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container h1{
    margin-top: 80px;
    font-family: Paragrafos;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-books{
    display: flex;
    justify-content: space-between;
}

.estil-books a{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: FonteTitulo;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1D6A96;
    color: #fff;
}

.estil-books a:hover{
    background-color: #3092ca;
    transition: .2s
}

.estil-books{
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px #a8acad;
    border-radius: 10px;
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    border-left: 1px solid #bebebe;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

footer{
    height: 120px;
    background-color: #1D6A96;
    margin-top: 100px;
}

.container-footer{
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    margin: 0px 5%;
    column-gap: 10%;
}

.container-footer a img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.end-page{
    height: 100%;
    color: #fff;
    background-color: #1b1b1b;
}

.container-desc{
    padding: 70px 0px;
}

.estil-titulo-endpage{
    display: flex;
    justify-content: space-between;
}

.container-desc p{
    font-family: Paragrafos;
    font-size: 25px;
}

.container-desc h2{
    font-family: FonteTitulo;
    font-size: 35px;
}

.estil-endpage{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

/* PAGINA DE ALUGUEL */

.container-estil-desc{
    background-color: #fff;
    margin-top: 5%;
    padding: 2%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px 0px #a8acad;
    border-radius: 10px;
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    border-left: 1px solid #bebebe;
}

.desc-livro-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc-livro-content img{
    width: 220px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.espec-estil-livro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.espec-estil-livro a{
    margin-top: 10%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #1D6A96;
    font-family: FonteTitulo;
    font-size: 30px;
    padding: 10px 50px;
}

.espec-estil-livro a:hover{
    background-color: #3092ca;
    transition: .2s
}

.desc-livro-content h3{
    margin-bottom: 10%;
    font-family: FonteTitulo;
    font-size: 28px;
    text-align: center;
}

.desc-livro-content p{
    font-family: Paragrafos;
    font-size: 23px;
}

.container-background-desc-espec{
    background-color: #fff;
    margin-top: 5%;
    padding: 3% 5%;
    box-shadow: 0px 5px 15px 0px #a8acad;
    border-radius: 10px;
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    border-left: 1px solid #bebebe;
}

.descricao-livro h1{
    font-size: 35px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.descricao-livro p{
    font-family: Paragrafos;
    font-size: 20px;
    line-height: 150%;
}

.especificacao-livro h1{
    margin-top: 4%;
    margin-bottom: 2%;
}

.container-especificacao-livro{
    margin-bottom: 3%;
    width: 40%;
}

.itens-especificacao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.itens-especificacao h4{
    font-family: Especificacoes;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.itens-especificacao p{
    font-family: Paragrafos;
    font-size: 20px;
}

/* TELA LOGIN */

.body-login{
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items:center ;
    justify-content: space-around;
}

.container-login{
    background-color: #fff;
    padding: 6px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:0 0 20px 0 #a9a9a9;
}

.container-login form{
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
    color: #faebd7;
}

.buttonsform {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #9e9e9e;
    color: #000000;
}

.buttonsform button{
    font-family: Especificacoes;
    font-size: 15px;
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
    color: #000000;
}

.btncolor{
    border-radius: 25px;
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #006ce7, #006ce7);
    transition: .3s;
}

.container-login input[type="text"], input[type="password"]{
    font-family: Paragrafos;
    font-size: 17px;
    border: solid #000000 2px;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    color: #000000;
}

.container-login .buttoncadastro{
    font-family: FonteTitulo;
    position: absolute;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #006ce7;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 0px;
    margin-top: 5%;
    cursor: pointer;
}

.divcheck{
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
    color: #000000;
}

.container-login span{
    font-family: Especificacoes;
    font-size: 16px;
    margin-left: 3%;
}

.container-login input[type="checkbox"]{
    margin-left: 4%;
    margin-top: 4%;
}

.container-login .buttoncadastro:hover{
    background-color: #3092ca;
}

.container-footer-login footer{
    margin-top: 0;
}

#entrar{
    left: 25px;
}

#cadastrar-se{
    left: 450px;
}

.swal2-popup {
    font-size: 20px;
    font-family: FonteTitulo;
  }