*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5f3f7;
}

@font-face{
    font-family: FonteTitulo;
    src: url(../font/Inter-Black.ttf);
}

@font-face{
    font-family: Paragrafos;
    src: url(../font/Inter-Light.ttf);
}

a{
    text-decoration: none;
}

header{
    background-color: #1D6A96;
    height: 120px;
}

input{
    width: 450px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    font-family: Paragrafos;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    padding: 8px 30px;
}

.container{
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu img{
    width: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu .icon{
    width: 24px;
    margin-left: 7px;
}

.menu{
    height: 100%;
}

.menu ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a{
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: FonteTitulo;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-menu{
    position: absolute;
    background-color: #1D6A96;
    box-shadow: 0px 5px 15px 0px #000;
    display: none;
}

.menu ul li .dropdown-menu a{
    border-bottom: 1px solid #ffffff;
    padding: 15px;
    display: block;
}

.dropdown-menu a:hover{
    background-color: #3092ca;
    transition: .2s;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.container-books img{
    width: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container h1{
    margin-top: 80px;
    font-family: Paragrafos;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-books{
    display: flex;
    justify-content: space-between;
}

.estil-books a{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: FonteTitulo;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1D6A96;
    color: #fff;
}

.estil-books a:hover{
    background-color: #3092ca;
    transition: .2s
}

.estil-books{
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px #a8acad;
    border-radius: 10px;
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    border-left: 1px solid #bebebe;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

footer{
    height: 120px;
    background-color: #1D6A96;
    margin-top: 100px;
}

.container-footer{
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    margin: 0px 5%;
    column-gap: 10%;
}

.container-footer a img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.end-page{
    height: 100%;
    color: #fff;
    background-color: #000000d3;
}

.container-desc{
    padding: 70px 0px;
}

.estil-titulo-endpage{
    display: flex;
    justify-content: space-between;
}

.container-desc p{
    font-family: Paragrafos;
    font-size: 25px;
}

.container-desc h2{
    font-family: FonteTitulo;
    font-size: 35px;
}

.estil-endpage{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}