*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: FonteTitulo;
    src: url(../font/Inter-Black.ttf);
}

@font-face{
    font-family: Paragrafos;
    src: url(../font/Inter-Light.ttf);
}

a{
    text-decoration: none;
}

header{
    background-color: #1D6A96;
    height: 120px;
}

input{
    width: 450px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    font-family: Paragrafos;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    padding: 8px 30px;
}

.container{
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu img{
    width: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu .icon{
    width: 24px;
    margin-left: 7px;
}

.menu{
    height: 100%;
}

.menu ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a{
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: FonteTitulo;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-menu{
    position: absolute;
    background-color: #1D6A96;
    box-shadow: 0px 5px 15px 0px #000;
    display: none;
}

.menu ul li .dropdown-menu a{
    border-bottom: 1px solid #ffffff;
    padding: 15px;
    display: block;
}

.dropdown-menu a:hover{
    background-color: #3092ca;
    transition: .2s;
}

.dropdown:hover .dropdown-menu{
    display: block;
}