@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #135180;
}

h1{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 100px;
    color: #fff;
}

p{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    color: #fff;
}

a{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}

.container{
    width: 80%;
    height: 80%;
    margin: 5% 10% 5% 10%;
}

.menu-logo{
    height: 50%;
    width: 50%;
    text-align: center;
}

.menu-logo-desc{
    margin-right: 8%;
    margin-left: 8%;
    width: 50%;
    height: 50%;
}

.menu-logo-desc p{
    margin-bottom: 15%;
}

.container-menu{
    width: 100%;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.menu-logo img{
    width: 100%;
    margin-bottom: 30px;
}

.button{
    color: #000;
    font-size: 20px;
    padding: 15px 40px;
    background-color: #CBFF0D;
    border-radius: 10px;
    box-shadow: 0px 5px 30px #94fc0c;
    transition: background-color 0.4s;
    transition: font-size 0.4s;
}

.button:hover{
        transition: 0.4s;
        font-size: 25px;
}

input{
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    outline: none;
    margin-bottom: 20px;
}

.container-form{
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid #28b334;
    box-shadow: 0px 0px 20px 0px #969039;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.form-control-login{
    padding-bottom: 15px;
}

.buttonsform{
    padding: 10px;
    border-radius: 15px;
    width: max-content;
    border: 1px solid black;
    margin: 30px 0px;
}

.buttonsform a{
    font-family: 'Rajdhani', sans-serif;
    padding: 10px;
    color: #fff;
}